#menu {
    display: flex;
    justify-content: space-around;
}

#menu-left {
    display: flex;
    justify-content: space-around;
    width: 25%;
    align-items: center;
}

#menu-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 28%;
}

#input {
    margin-right: 10px;
}

#banner-img {
    width: 100%;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 30%;
    left: 50px;
}

.item-1 {
    font-size: 40px;
    font-weight: 700;
}

.item-2 {
    font-size: 20px;
    font-weight: 50;
}

.item-3 {
    background-color: #5ead6b;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    color: aliceblue;
}

#product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-product {
    font-size: 40px;
    font-weight: 700;
}

.item-product {
    display: flex;
    height: 40px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.item-product-1 {
    padding: 10px 30px;
    background-color: #5ead6b;
}

.product-sale {
    display: flex;
    margin-left: 10px;
}

.mt-left {
    margin-left: 20px;
}

.mt-top {
    margin-top: 30px;
}

.appreance {
    font-size: 20px;
    font-weight: 600;
}

.cost-product {
    display: flex;
    width: 234px;
    justify-content: space-between;
}

.cost-product p {
    font-size: 25px;
}

.fz-15 {
    font-size: 15px;
    font-weight: 100;
}

#promotion {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.title-promotion {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.product-promotion {
    display: flex;
    margin-top: 30px;
}